# data specific files
data/*
!data/policy.txt
!data/tiger.1-1000.utf8.xml

# documentation and material
latex/src/*
!latex/src/Learning_to_Prune.tex
!latex/src/Learning_to_Prune.slides.tex
docs
material

# policies
!data/policy.1.txt
!data/policy.01.txt
!data/policy.001.txt
!data/policy.0001.txt
!data/policy.00001.txt

# platform dependencies
.idea
Pipfile
Pipfile.lock

# test fragments
tparse.txt
tparse.pp.txt
ttrain.txt
__pycache__/

# vagrant files
.vagrant/*
lib/*
Vagrantfile
ubuntu-xenial-16.04-cloudimg-console.log
